li * {
     font-size: 1.12em;
   }
   ul li a {
     padding: .4em 0 !important;
   }

   .bkPPdT {
     max-width: 80% !important;
 }
   
 .eZafWw {
     width: min(calc(100vw - 40px), 1000px) !important;
     transform: translateX(-50%) scale(1.2) translateZ(0px) !important;
     border: 2px solid rgba(255, 255, 255, 0.437);
 }

 /* .eZafWw * {
     background-color:  rgb(255, 255, 255);
 } */